body {
    border: 100px;
    background: lightgray;
    display: flex;
    justify-content: center;
    margin: 100px;
}
div.container{
    background:
    width: auto;
    padding: 0;
    margin: 0;
}
header {
    background: lightgray;
    display: flex;
}
div.payment {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 600px;
    background: white;
}
img {
    margin-left: 50px;
    height: 75px;
    width: auto;
}
div.text-box{
    margin-left: 150px;
}
div.buttons {
    display: flex;
    background: lightgray;
    justify-content: flex-end;
    bottom: 595px;
    right: 929px;
    margin-top: 30px;
}
div.submit {
    margin:5px;
}
div.cancel {
    margin: 5px;
}

